@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
     padding: 0;
     margin: 0;
 }  

 body{
     background-image: url("https://i.imgur.com/aVR6KWv.png");
 }

.contador{
     width: 200px;
     align-items: center;
}
.numeroContador{
     text-align: center;
}

.bodyAppItems{
     width: 100vw;
     height: 100vh;

}

.grillaItems{
     display: grid;
     grid-template-columns: 200px 200px 200px 200px;
     grid-template-rows: 600px 600px 600px 600px;
     width: auto;
     margin: auto;
     justify-self: center;
     justify-content: space-around;
     margin-top: 3%;
     row-gap: 5%;

}

.body-cards{
     height: 100vh;
     display: grid;
     justify-content: center;
     margin-top: 3%;
}

.overlay{
     width: 250px;
     height: 400px;
}


.cartItems{
     width: 25% !important;
     height: 25% !important;
     display: flex;
     margin: auto;
     justify-self: center;
     justify-content: space-around;
     margin-top: 5%;
     border: 1px solid rgba(0, 0, 0, 0.162);
     border-radius: 20px;
     overflow: hidden;

}

.carritoText{
     font-family: 'Montserrat', sans-serif;
     font-size: 300%;
     color: rgba(216, 243, 97, 0.774);
     text-align: center;
     margin-top: 5%;
}

.imgCart{
     width: 150px;
     height: 250px;
     grid-area: 1 / 1 / 2 / 2;
     margin-right: -2% !important;
}

.imgContainer{
     margin-left: -10% !important;
}

.textItemCart{
     font-family: 'Montserrat', sans-serif;
     font-size: 120%;
     color: rgba(0, 0, 0, 0.774);
     text-align: center;
     margin-top: 5%;
}

.btnClear{
     display: flex !important;
     justify-content: center;
     margin-top: 75px !important;
}


.carritoVacioTitle{
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: 'Montserrat', sans-serif;
     font-size: 300%;
     margin-top: 20%;

}

.containerList{
     width: 150%;
     max-width: 1200px;
     height: 430px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin: auto;
}

.containerList .cardList{
     width: 330px;
     height: 430px;
     border-radius: 8px;
     box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
     overflow: hidden;
     margin: 20px;
     text-align: center;
     transition: all 0.25s;
     background-color: white;

}

.containerList .cardList:hover{
     transform: translateY(-15px);
     box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}

.containerList .cardList .imgList{
     margin-top: 6%;
     width: auto !important;
     height: 50% !important;
}

.containerList .cardList .titleList{
     margin-top: 15%;
     font-weight: 700;
}

.containerList .cardList .textList{
     padding: 0 1rem;
     font-size: 125%;
     font-weight: 300;
}

.containerListDetail{
     width: 100%;
     max-width: 500%;
     height: 600px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin: auto;
}

.containerListDetail .cardListDetail{
     display: flex;
     justify-content: space-evenly;
     width: 800px;
     height: 500px;
     border-radius: 8px;
     box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
     overflow: hidden;
     margin: 20px;
     text-align: center;
     background-color: white;

}

.containerListDetail .cardListDetail .imgListDetail{
     margin-top: 1%;
     width: auto !important;
     height: 100% !important;
}

.containerListDetail .cardList .titleList{
     margin-top: 15%;
     font-weight: 700;
}

.containerListDetail .cardList .textList{
     padding: 0 1rem;
     font-size: 125%;
     font-weight: 300;
}

.cardDetail{
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     justify-content: space-evenly;
}

.textList{
     font-size: 125%;
     font-weight: 300;
}










.cartList{
     width: 250%;
     max-width: 1200px;
     max-height: 300px;
     height: 300px;     
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin: auto;
}

.cartList .cardList{
     display: flex;
     flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
     width: 50%;
     height: 80%;
     border-radius: 8px;
     box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
     overflow: hidden;
     margin: 0px;
     text-align: center;
     transition: all 0.25s;
     background-color: white;

}



.cartList .cardList .imgList{
     margin-top: 6%;
     width: auto !important;
     height: 75% !important;
}


.grillaCart{
     
     width: auto;
     margin: auto;
     justify-self: center;
     justify-content: space-around;
     margin-top: 3%;
     row-gap: 5%;
}

.borrarCarrito{
     margin-top: 5%;
}

.finalizarCarrito{
     margin-bottom: 2%;
}
.cartBody{
     margin-top: -1%;
     height: 100%;
}

.totalText{
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: 'Montserrat', sans-serif;
     font-size: 300%;
     margin-top: 3%;
}

.itemEmpty{
     height: 5%;
}