*{
     padding: 0;
     margin: 0;
 }  
 
 #root{
        background-color: #3C787E;
 }
.contador{
     width: 200px;
     align-items: center;
}
.numeroContador{
     text-align: center;
}

.bodyAppItems{
     width: 100vw;
     height: 100vh;

}

.grillaItems{
     display: grid;
     grid-template-columns: 200px 200px 200px 200px;
     grid-template-rows: 600px 600px 600px 600px;
     width: auto;
     margin: auto;
     justify-self: center;
     justify-content: space-around;
     margin-top: 5%;
     row-gap: 5%;

}

.body-cards{
     height: 100vh;
     display: grid;
     justify-content: center;
     margin-top: 3%;
}

.overlay{
     width: 250px;
     height: 400px;
}

